<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>

<div class="main-content" style="display: flex">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Avdelning A</h5>

        <a href="/filtrering" class="btn btn-success">Gå till Avdelning A</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Avdelning B</h5>

      <a href="/cellar" class="btn btn-danger">Gå till Avdelning B</a>
    </div>
  </div>
  <div class="col-sm-2"></div>


</div>

<script src="js/assets/jquery-3.3.1.min.js"></script>
<script src="js/assets/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>

</html>